*{
    text-align:center;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background: linear-gradient(to top, #505050, #5f77ff);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
}
img.fon{
    height: 100%;
    width: 100%;
}
div.game#1{
    height: 100%;
    width: 100%;
}
div.platforms {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}